<ion-app>
<ion-menu side="end" menuId="accountMenu" contentId="main-content" type="overlay" swipeGesture="false" (ionWillOpen)="onMenuOpen()">
    <ion-header>
      <ion-toolbar class="menu-toolbar">
        <ion-title class="menu-title">Account Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-toggle menu="accountMenu">
            <ion-button class="close-menu-btn" menuClose>
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <!-- Profile Header Section -->
      <div class="profile-header">
        <div class="profile-background">
          <div class="deco-circle deco-1"></div>
          <div class="deco-circle deco-2"></div>
        </div>
        
        <div class="profile-content">
          <div class="profile-avatar-container" (click)="openProfileSettings()">
            <div class="avatar-wrapper">
              <ng-container *ngIf="parent?.photo_url; else noPhoto">
                <img [src]="parent?.photo_url" alt="Parent Photo" class="profile-avatar" />
              </ng-container>
              <ng-template #noPhoto>
                <div class="avatar-placeholder">
                  <ion-icon name="person" class="placeholder-icon"></ion-icon>
                </div>
              </ng-template>
            </div>
            <div class="edit-badge">
              <ion-icon name="create" class="edit-icon"></ion-icon>
            </div>
          </div>
          
          <div class="profile-info">
            <h3 class="profile-name">{{ parent?.first_name }} {{ parent?.last_name }}</h3>
            <p class="profile-email">{{ parent?.email }}</p>
          </div>
        </div>
      </div>

      <!-- Menu Items -->
      <div class="menu-items">
        <div class="menu-item" (click)="openProfileSettings()">
          <div class="menu-icon-wrapper profile-theme">
            <ion-icon name="person" class="menu-icon"></ion-icon>
          </div>
          <div class="menu-item-content">
            <span class="menu-item-title">Profile Settings</span>
            <span class="menu-item-subtitle">Edit your personal information</span>
          </div>
          <ion-icon name="chevron-forward" class="menu-arrow"></ion-icon>
        </div>

        <div class="menu-divider"></div>

        <div class="menu-item logout-item" (click)="logout()">
          <div class="menu-icon-wrapper logout-theme">
            <ion-icon name="log-out" class="menu-icon"></ion-icon>
          </div>
          <div class="menu-item-content">
            <span class="menu-item-title">Logout</span>
            <span class="menu-item-subtitle">Sign out of your account</span>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <!-- main app content MUST have this id -->
  <div id="main-content">
    <ion-router-outlet></ion-router-outlet>
    <app-global-footer></app-global-footer>
  </div>
</ion-app>