<div *ngIf="showFooter" class="global-footer-container">
  <div class="footer-buttons">
    <!-- Home Button -->
    <div 
      class="footer-tab"
      [class.active]="isActive('/home')"
      (click)="navigateTo('/home')">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </div>
    
    <!-- Children Button -->
    <div 
      class="footer-tab"
      [class.active]="isActive('/children')"
      (click)="navigateTo('/children')">
      <ion-icon name="people"></ion-icon>
      <span>Children</span>
    </div>

    <div class="floating-add-btn-container">
      <button class="floating-add-btn" (click)="openAddStudentModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>

    <!-- Calendar Button -->
    <div 
      class="footer-tab"
      [class.active]="isActive('/calendar')"
      (click)="navigateTo('/calendar')">
      <ion-icon name="calendar"></ion-icon>
      <span>Calendar</span>
    </div>

    <!-- Account Button -->
    <div class="footer-tab" style="margin-left:auto;" (click)="openAccountMenu($event)">
      <ion-icon name="menu"></ion-icon>
      <span>Account</span>
    </div>
  </div>
</div>
