<ion-header class="ion-no-border">
  <ion-toolbar class="modal-toolbar">
    <ion-title class="modal-title">Account Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Profile Header -->
  <div class="account-header">
    <div class="header-background">
      <div class="deco-circle deco-1"></div>
      <div class="deco-circle deco-2"></div>
    </div>
    
    <div class="account-profile">
      <div class="profile-photo-container">
        <div class="photo-wrapper">
          <ng-container *ngIf="parent?.photo_url; else noPhoto">
            <img [src]="parent?.photo_url" alt="Parent Photo" class="profile-photo" />
          </ng-container>
          <ng-template #noPhoto>
            <div class="photo-placeholder">
              <ion-icon name="person" class="placeholder-icon"></ion-icon>
            </div>
          </ng-template>
        </div>
        <button class="photo-edit-btn" (click)="changePhoto()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
        </button>
      </div>
      
      <h2 class="account-name">Account Information</h2>
      <p class="account-subtitle">Manage your personal details</p>
    </div>
  </div>

  <!-- Form Section -->
  <div class="form-container" *ngIf="parent">
    <div class="form-card">
      <div class="form-section">
        <h3 class="section-title">
          <ion-icon name="person-outline" class="section-icon"></ion-icon>
          Personal Information
        </h3>
        
        <div class="input-group">
          <div class="input-wrapper">
            <ion-item class="custom-input" lines="none">
              <ion-label position="floating">First Name</ion-label>
              <ion-input [(ngModel)]="parent.first_name" placeholder="Enter first name"></ion-input>
            </ion-item>
          </div>

          <div class="input-wrapper">
            <ion-item class="custom-input" lines="none">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input [(ngModel)]="parent.last_name" placeholder="Enter last name"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="form-section">
        <h3 class="section-title">
          <ion-icon name="mail-outline" class="section-icon"></ion-icon>
          Contact Information
        </h3>
        
        <div class="input-group">
          <div class="input-wrapper">
            <ion-item class="custom-input" lines="none">
              <ion-label position="floating">Email Address</ion-label>
              <ion-input [(ngModel)]="parent.email" type="email" placeholder="Enter email"></ion-input>
            </ion-item>
          </div>

          <div class="input-wrapper">
            <ion-item class="custom-input" lines="none">
              <ion-label position="floating">Contact Number</ion-label>
              <ion-input [(ngModel)]="parent.contactNo" type="tel" placeholder="Enter phone number"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="action-buttons">
        <button class="save-btn" (click)="saveChanges()">
          <ion-icon name="checkmark-circle" class="btn-icon"></ion-icon>
          Save Changes
        </button>
        <button class="cancel-btn" (click)="close()">
          <ion-icon name="close-circle" class="btn-icon"></ion-icon>
          Cancel
        </button>
      </div>
    </div>
  </div>
</ion-content>