<ion-header>
  <ion-toolbar>
    <ion-title>School Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" class="ion-margin"></ion-spinner>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let event of events">
      <ion-label>
        <h2>{{ event.title }}</h2>
        <p>{{ event.date }} - {{ event.location }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="events.length === 0">
      <ion-label>No school events found.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
